<!DOCTYPE html>
<html>
    <head> <link rel="stylesheet" href="./css/styles.css"></head>
    <body>
        {{>header}}
        <h1>FROM A Dynamic About FILE {{title}}</h1>
        {{>footer}}

    </body>
</html>